[submodule "crocore"]
	path = crocore
	url = git@github.com:crocdialer/crocore.git
[submodule "assimp"]
	path = assimp
	url = git@github.com:assimp/assimp.git
[submodule "tinygltf"]
	path = tinygltf
	url = git@github.com:syoyo/tinygltf.git
