[submodule "submodules/glfw"]
	path = submodules/glfw
	url = https://github.com/glfw/glfw.git
	shallow = true
[submodule "submodules/glm"]
	path = submodules/glm
	url = https://github.com/g-truc/glm.git
	shallow = true
[submodule "submodules/crocore"]
	path = submodules/crocore
	url = https://github.com/crocdialer/crocore.git
	shallow = true
[submodule "submodules/tinygltf"]
	path = submodules/tinygltf
	url = https://github.com/syoyo/tinygltf.git
	shallow = true
[submodule "submodules/tinyobjloader"]
	path = submodules/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
	shallow = true
[submodule "submodules/meshoptimizer"]
	path = submodules/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
	shallow = true
[submodule "submodules/entt"]
	path = submodules/entt
	url = https://github.com/skypjack/entt.git
	shallow = true
[submodule "submodules/JoltPhysics"]
	path = submodules/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics.git
	shallow = true
[submodule "submodules/SPIRV-Reflect"]
	path = submodules/SPIRV-Reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect.git
	shallow = true
[submodule "submodules/imgui"]
	path = submodules/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
	shallow = true
[submodule "submodules/mimalloc"]
	path = submodules/mimalloc
	url = git@github.com:microsoft/mimalloc.git
